<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head', { page_title: 'Secret clubhouse' }) %>
</head>
<body>
  <% if (locals.currentUser) { %>
    <p>Logged in as <%= currentUser.username %>. Welcome, <%= currentUser.full_name %>.</p>
    <a href="/message/create">Create message</a>
  <% } else { %>
    <a href="/log-in">Login</a>
    <a href="/sign-up">Sign up</a>
  <% } %>
  <% if (locals.messages) { %>
    <% for (let i = 0; i < messages.length; i++) { %>
      <div>
        <div><%= messages[i]['title'] %></div>
        <div><%= messages[i]['timestamp'] ? messages[i]['timestamp'] : 'hidden' %></div>
        <div><%= messages[i]['message'] %></div>
        <div>Posted by <%= messages[i]['user'] ? messages[i]['user']['full_name'] : 'Anonymous' %></div>
        <% if (locals.currentUser) { %>
          <% if (currentUser.isAdmin) { %>
            <form method="POST" action="/message/delete">
              <input type="hidden" name="messageId" value=<%= messages[i]._id.toString() %>>
              <button type="submit">Delete</button>
            </form>
          <% } %>
        <% } %>
      </div>
    <% } %>
  <% } %>
</body>
</html>