<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head', { page_title: 'Secret clubhouse' }) %>
</head>
<body>
  <p>Nothing to be seen</p>
  <% if (locals.currentUser) { %>
    <% if (locals.message) { %> 
      <form method="POST" action="">
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" value=<%= message.title %>>
        <br>
        <label for="message">Message:</label>
        <br>
        <textarea id="message" name="message" value=<%= message.message %>></textarea>
        <button type="submit"><%= buttonText %></button>
      </form>
    <% } else { %>
    <form method="POST" action="">
      <label for="title">Title:</label>
      <input id="title" type="text" name="title">
      <br>
      <label for="message">Message:</label>
      <br>
      <textarea name="message"></textarea>
      <button type="submit"><%= buttonText %></button>
    </form>
    <% } %>
  <% } %>
  <% if (locals.errors) { %>
    <ul>
      <% for(let i = 0; i < errors.length; i++) { %>
        <li><%= errors[i]['msg'] %></li>
      <% } %>
    </ul>
  <% } %>
</body>
</html>